# AWS Credentials / Secrets
.env
*.pem
credentials
aws_config

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# OS Files
.DS_Store
Thumbs.db

# Project Specific
data/sample_images/
backend/tesseract_installer/

# Docker
.dockerignore